
.body{
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background: rgba(0,0,0,0.5);
    display: flex; 
    justify-content: center; 
    align-items: center;
    z-index: 150;
}
.overlay {
    position: absolute;
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 23%;
    overflow: hidden;
}

.SignInUpBody{
    z-index: 10;
    position: absolute;
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 27%;
    overflow: hidden;
}

.login{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background: rgba(0,0,0,0.5);
    display: flex; 
    justify-content: center; 
    align-items: center;
    z-index: 150;
}

.containerTexts{
    width: 20%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: blue;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 27%;
    overflow: hidden;
}

.close{
    height: 8%;
    width: 15%;
    position: absolute;
    align-self: right;
    justify-self: right;
    top: -10%;
    right: -10%;
    cursor: pointer;
}

.closeOut{
    height: 15%;
    width: 15%;
    position: absolute;
    align-self: right;
    justify-self: right;
    top: -10%;
    right: -10%;
    cursor: pointer;
}

.ThisChairsign{
    margin-bottom: 10%;
}

.input{
    margin: 3%; 
}

.signin{
    margin: 10%;
    cursor: pointer;
}

.buttonSignUp{
    cursor: pointer;
}

.buttonSignin{
    cursor: pointer;
}